.container{
    position: relative;
    top: 5rem;
    color: rgba(255, 255, 255, 0.748);
    font-size: 3.4rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 1px solid white;
    padding: 3rem 0;
    padding-left: 4rem;
}

@media screen and (max-width: 400px) {
   .container{
       font-size: 2rem;
   }
  }

  @media screen and (max-width: 600px) {
    .container{
        font-size: 3.5rem;
        padding-left: 1rem;
    }
   }